doctype html
html
  head
  meta(name="viewport",content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.min.css')
  body
    block content
    script(src='/bootstrap/js/bootsrap.min.js')
    script(src='/javascripts/jquery-2.2.3.min.js')
    